# ========== Android Studio ==========
*.iml
.idea/
.gradle/
local.properties
.DS_Store

# ========== Build ==========
/build/
/captures/
/.externalNativeBuild/
/.cxx/

# ========== IDE-specific ==========
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# ========== Signing & Secrets ==========
#gradle.properties
