<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name="io.github.ringtonesmartkit.provider.RingtoneSmartKitInitProvider"
            android:authorities="${applicationId}.ringtone_smart_kit_init_provider"
            android:exported="false" />
    </application>
</manifest>